@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root{
   --light-pink:  #FF8C88;
   --purple: #5551FF;
}



#logo{
width: 150px;
margin-top: 20px;
margin-left: 20px ;
cursor: pointer;

}

main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#cards-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 40px;
}

.card{
    width: 95%;
    background-color: var(--light-pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px  ;
    border-radius: 15px;
    box-shadow: 1px 1px 15px -4px rgba(0,0,0,0.75);
}   

.card a{
    background-color: var(--purple);
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 90px;
   height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px -4px rgba(0,0,0,0.75);
}

.card h1{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -4px rgba(0,0,0,0.75);
}