@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-pink: #FF8C88;
    --very-light-pink: #FFE1E0;
    --purple: #5551FF;
    --dark-blue: #1A1442;
}

#logo {
    max-width: 200px;
}

header {
    background-color: #F5F5F5;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 16px;
}

#hero {
    background-color: var(--very-light-pink);
    clip-path: polygon(0 0, 110% 0, 90% 100%, 0% 100%);
}

#hero-container {
    height: 550px;
}

#hero-content {
    text-align: center;
}

#hero-content-wrapper {
    margin-top: 20px;
}

#hero-content h3 {
    font-size: 2.5rem;
    color: var(--dark-blue);
}

#hero-content a {
    cursor: pointer;
    color: #fff;
    background-color: var(--purple);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s ease-in-out;
}

#hero-content a:hover {
    background-color: var(--dark-blue);
    transition: 0.5s ease-in-out;
}

#services-categories {
    margin-top: 90px;
}

.carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(184, 184, 184);
    /* Define o fundo da seta como preto */
    border-radius: 50%;
    /* Faz a seta aparecer dentro de um círculo */
}


.service-category-card {
    color: var(--dark-blue);
    font-weight: 700;
    background-color: #fff;
    font-size: 16px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-category-card img {
    width: 60px;
}

.service-category-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: var(--light-pink);
    padding: 20px 0;
}

footer img {
    max-height: 132px;
}

#footer-options,
#social-media {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer-options li a,
#social-media li a {
    color: var(--dark-blue);
    text-decoration: none;
}

#social-media {
    display: flex;
    gap: 10px;
}